/*
main color - #174ea0
*/

.text-white {
    color: #fff !important;
}

.text-right {
    text-align: right !important;
}

.float-right {
    float: right !important;
}

.text-center {
    text-align: center !important;
}

.adn_logo {
    margin-top: 0%;
}

.adn_logo a img {
    width: 300px;
}

.sticky_header .adn_logo a img {
    vertical-align: middle;
    width: 250px;
}

/*#main-navigation-inn .nav {
	background: #fff !important;
}*/

ul.expert_list li {
	height:315px;
}

ul.banner_btm_list li {
    height: 250px;
}

ul.banner_btm_list li.lytblue_prd_bg p {
    line-height: 25px;
}

p.exprt_txt {
    font-size: 115%;
    text-align: justify;
}

.exprt_col2 {
    margin: 0px 0px 10px;
}

#our_project img {
    height: 325px;
}

.accordion-toggle.active {
	background:#174ea0 !important;
}

.service_capabilities li {
    padding-left: 1.3em;
}

.service_capabilities li:before {
    color: #174ea0;
    content: "\f00c";
    /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    /* same as padding-left set on li */
    width: 1.3em;
    /* same as padding-left set on li */
}

.core_txt p{
	text-align: justify-all;
}
.core_txt .read_more , #our_team .read_more{
	margin:2.5% 0%;
	text-align : end;
}

.coverage img {
	width:40%;
	float:right;
	padding-left:1.5%;
}

.coverage p {
	font-size:115%;
}

#our_team img{
	position:relative;
	float: unset !important;
	height : 330px;
	text-align: center;
	/*border-radius: 500%;*/
}

#our_team p {
	font-size:107%;
}

ul.locations li{
	list-style: none;
    border-bottom: 1px solid #174ea0;
    margin: 5% 0%;
    padding: 5% 0%;
    font-size: 115%;
}

ul.locations li i{
    float: left;
    padding-right: 3%;
    font-size: 285%;
    color: #174ea0;
    display: block;
}

.footer_img img{
	width:50%;
}

/* MEDIA QUERIES FOR LAPTOP */
@media all and (min-width : 900px) {

    #slider_wrapper {
        height: 670px;
        /*display:none;*/
    }
}

/* MEDIA QUERIES FOR SMALLER SCREEN */
@media all and (max-width : 1000px) {

    .adn_logo a img {

        display: none;
    }

    ul.banner_btm_list li {
        height: auto;
    }

    #our_team img{
    width:320px;
	height : 310px;
	
}

}